  <div class="image">
    <img src="{{ user.profile.image_72 }}">
  </div>
  <div class="content">
    <div class="header">{{ user.name }}</div>
    <div class="meta">
      <a>is: {{ user.profile.image_72 }}</a>
    </div>
    <div class="description">
      Matthew is an interior designer living in New York.
    </div>
  </div>
  <div class="extra content">
    <span class="right floated">
      Joined in 2013
    </span>
    <span>
      <i class="user icon"></i>
      75 Friends
    </span>
  </div>