  <div class="image">
    <img src="{{ user.attributes.profile.image_192 }}">
  </div>
  <div class="content">
    <div class="header">{{ user.attributes.name }}</div>
    <div class="meta">
    <span>
      <i class="mail icon"></i>
      99
    </span>
    </div>
  </div>