<div class="ui container">
  <form class="ui form">
    <div class="fields">
      <div class="fourteen wide field">
        <div class="ui icon input">
          <i class="search icon"></i>
          <input type="text" id="search-term" placeholder="Search for a book">
        </div>
      </div>
      <div class="two wide field">
        <button class="blue ui button fluid" type="submit">Search</div>
      </div>
    </div>
  </form>
</div>