@font-face {
  font-family: 'Great Vibes';
  src: url('GreatVibes.ttf');
}

#header-region {
  padding-top: 1em;
}

/* Site banner styling */
#header-region h1.site-header {
  font: 5em 'open sans condensed', serif;
  text-shadow: 4px 4px 3px rgba(0,0,0,0.1);
  margin-bottom: 0;
}
#header-region a {
  color: yellow;
}

.welcome-message {
  font: 3em 'open sans condensed', serif;
  padding-top: 2em;
  color: darkgray;
}

/* The loader looks funny with our page background colour
   so make make the background transparent */
.active.transparent.dimmer {
  background-color: transparent;
}

/* Always show the scrollbar, otherwise the width of
   the page changes when result lengths change, and
   causes the layout to shift slightly */
body {
    overflow-y: scroll;
}

/* Grayscale image filter for user cards with no messages */
.grayscale img {
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}

h1.site-header span {
  font-size: 0.3em;
}